<!DOCTYPE html>
 <html>
   <head>
     <meta charset="utf-8">
     <title>Videojs</title>
         <!--STYLES-->
	<link rel="stylesheet" href="/styles/cosmo.min.css">
	<link rel="stylesheet" href="video-js.css">
	<!-- <link href="//vjs.zencdn.net/5.19/video-js.min.css" rel="stylesheet"> -->
	<!-- <link href="//cdn.rawgit.com/mmcc/videojs-skin-twitchy/v1.0.0/dist/videojs-skin-twitchy.css" rel="stylesheet" type="text/css"> -->
	<!-- <link rel="stylesheet" href="/styles/style.css"> -->
	<!-- <link rel="stylesheet" href="/videojs.ads.css"> -->
	<!-- <link rel="stylesheet" href="/styles/videojs.addThis.css"> -->
	<!-- <link href="videojs-seek-buttons.css" rel="stylesheet"> -->
	<style>
			.icon-list li span { font-size: 150% }
    </style>
	<!--STYLES END-->
<script src="/js/dependencies/jquery-1.12.3.min.js"></script>

<!-- <script src="//vjs.zencdn.net/5.19/video.min.js"></script> -->
<script src="video.js"></script>
<!-- <script src="/videojs.ads.js"></script> -->
<link href="/styles/socialOverlay.css" rel="stylesheet" />
<!-- <link rel="stylesheet" href="/videojs.socialShare.css"> -->
<!-- <script src="/videojs.socialShare.js"></script> -->
<script src="/js/socialOverlay.js"></script>
<script src="/videojs-seek-buttons.min.js"></script>
   </head>
    <nav class="navbar navbar-default">
		<div class="container-fluid">
			<div class="navbar-header">

					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#mynavbar">
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="http://localhost:4000/">App </a>
			</div>
       <div class="collapse navbar-collapse" id="mynavbar">
		   <ul class="nav navbar-nav">
				<li class="active"><a href="/video">video</a></li>
				<li><a href="/video2">video 2</a></li>
				<li><a href="/icon">Icons</a></li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li>santosh</li>				
			</ul>
		</div>
	</div>
</nav>
   <body>	
     <%- body %>
     <!--SCRIPTS-->
    
    <script src="/js/dependencies/jquery.validate.min.js"></script>
    <script src="/js/angular.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>  
	<!-- <script src="youtube-video.js"></script> -->
	<!--SCRIPTS END-->
	
	<script>
	
		// var myPlayer = videojs('my-player',{
		// 	muted :true,
		// 	controls: true, 
		// 	preload: "auto"

		// 	// controlBar: {
		// 	// 	//fullscreenToggle: false //to disable to fullscreen toggle
		// 	// 	//volumeControl: false
  		// 	// }
		// });
		var options = {
			// Default order of fallback technology
			'techOrder': ['html5','flash'],
			// techOrder: ['flash','html5'],

			'html5': {},
			'flash': {},

			// Default of web browser is 300x150. Should rely on source width/height.
			// 'width': 300,
			// 'height': 150,
			// defaultVolume: 0.85,
			'defaultVolume': 0.00, // The freakin seaguls are driving me crazy!

			// Included control sets
			'children': {
				'mediaLoader': {},
				'posterImage': {},
				'textTrackDisplay': {},
				'loadingSpinner': {},
				'bigPlayButton': {},
				'controlBar': {}
			},
			// Default message to show when a video cannot be played.
			'notSupportedMessage': 'Sorry, no compatible source and playback ' +
				'technology were found for this video. Try using another browser ' +
				'like <a href="http://bit.ly/ccMUEC">Chrome</a> or download the ' +
				'latest <a href="http://adobe.ly/mwfN1">Adobe Flash Player</a>.'
			};

			var myPlayer = videojs('my-player',options);
			//myPlayer.addChild('myButton', {});
			
		myPlayer.socialOverlay({"onScreen":true});

		// var myPlayer = videojs('my-player', {
		// 	//'techOrder': ["html5", "flash"],
		// 	'controls': true,
		// 	// 'autoplay': true,
		// 	// 'preload':  'auto',
		// 	// 'loop':       true,
		// 	'aspectRatio':"640:267",
		// 	'playbackRates': [1, 1.5, 2],
		// 	// 'plugins': {
		// 	// 	'addThis': {
		// 	// 	  'reddit': false,
		// 	// 	  'delicious': false,
		// 	// 	  'website_url': "http://www.google.com"
		// 	// 	}
		// 	// }
		// 		'plugins':{
		// 			'socialOverlay': {"onScreen": true} 
		// 		}
		// }).ready(function(){
		// 	//this.playbackRate(2.0);
		// });	
		// myPlayer.socialShare({
		// 	facebook: { // optional, includes a Facebook share button (See the [Facebook documentation](https://developers.facebook.com/docs/sharing/reference/share-dialog) for more information)
		// 	shareUrl: 'https://www.facebook.com/narendramodi/', // optional, defaults to window.location.href
		// 	shareImage: '', // optional, defaults to the Facebook-scraped image
		// 	shareText: 'Narendra Modi'
		// 	},
		// 	twitter: { // optional, includes a Twitter share button (See the [Twitter documentation](https://dev.twitter.com/web/tweet-button/web-intent) for more information)
		// 	handle: '', // optional, appends `via @handle` to the end of the tweet 
		// 	shareUrl: 'https://twitter.com/narendramodi', // optional, defaults to window.location.href
		// 	shareText: 'Narendra Modi' 
		// 	}
		// });
		// myPlayer.seekButtons({
		// 	forward: 30,
		// 	back: 10
		// });
		$('#videojsplay').click(function(evt){
			evt.preventDefault();
			//myPlayer.play();
		});
		// var video = new YoutubeVideo({
		// 	el: document.getElementsById('my-player1')
		// })
		// console.log(video);
		// video.load().then(() => {
		// 	video.play();
		// 	video.pause();
		// });
		
	</script>
<!-- <script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '965865003527790',
      xfbml      : true,
      version    : 'v2.10'
    });
    FB.AppEvents.logPageView();
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script> -->
   </body>

 </html>

