<div class="video-container">
      <div id="myDiv"></div>
      <ul id="playlists" style="display:none;">     
        <li data-source="mixedPlaylist" data-playlist-name="Ajit WebTV" data-thumbnail-path="content/thumbnails/large3.jpg">
            <p class="minimalDarkCategoriesTitle"><span class="minimialDarkBold">Title: </span>My mixed playlist 1</p>
            <p class="minimalDarkCategoriesType"><span class="minimialDarkBold">Type: </span>MIXED</p>
            <p class="minimalDarkCategoriesDescription"><span class="minimialDarkBold">Description: </span>Created using HTML elements, videos are loaded and played from the server or Youtube.</p>
        </li>
    </ul>
<ul id="mixedPlaylist" style="display:none;">
<li data-thumb-source="http://i2.ytimg.com/vi/UQ3bencA2RM/hqdefault.jpg" data-video-source="https://www.youtube.com/watch?v=UQ3bencA2RM" data-poster-source="" data-downloadable="no">
            <ul data-ads="">
        <li data-source='http://d3pf9j3mrkuf3t.cloudfront.net/videos/advt/20180507/73_harjeeta2.mp4' data-time-start='00:00:1' data-time-to-hold-ads='10' data-thumbnail-source=''></li>
    </ul>
            

    <div data-video-short-description="ਅਜੀਤ ਖ਼ਬਰਾਂ 8 ਮਈ 2018">
        <div>
            <p class="minimalDarkThumbnailTitle">ਅਜੀਤ ਖ਼ਬਰਾਂ 8 ਮਈ 2018</p>
            <p class="minimalDarkThumbnailDesc">ਖ਼ਬਰਾਂ 10 ਵਜੇ</p>
        </div>
    </div>
    <div data-video-long-description="">
        <div>
            <p class="minimalDarkVideoTitleDesc">ਅਜੀਤ ਖ਼ਬਰਾਂ 8 ਮਈ 2018</p>
            <p class="minimalDarkVideoMainDesc">ਖ਼ਬਰਾਂ 10 ਵਜੇ</p>
            <p class="minimalDarkLink">For more videos visit <a href="http://www.ajittv.com/" target="_blank">AjitTV.Com</a></p>
        </div>
    </div>
</li>
</ul>