<div class="video-container">
    <video 
    id="hls"
    class="video-js vjs-default-skin vjs-big-play-centered"
    controls="true"
    mute="true" width="640" height="264"
    >
        <source
           src="http://ftvbrazil.unifieddeliverynetwork.net/fashiontv/fashiontv720/playlist.m3u8"
           type="application/x-mpegURL">
      </video>
</div>

